option_settings:
  aws:elb:listener:80:
    ListenerProtocol: HTTP
  aws:elb:listener:6768:
    ListenerProtocol: TCP
  aws:elb:listener:6769:
    ListenerProtocol: TCP
files:
  /etc/nginx/conf.d/proxy.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
          listen 6768;

          location / {
              proxy_pass ws://0.0.0.0:6768;
              proxy_http_version 1.1;
              proxy_set_header Host $host;
              proxy_set_header Upgrade $http_upgrade;
              proxy_set_header Connection "upgrade";
          }
      }

      server {
          listen 6769;

          location / {
              proxy_pass ws://0.0.0.0:6769;
              proxy_http_version 1.1;
              proxy_set_header Host $host;
              proxy_set_header Upgrade $http_upgrade;
              proxy_set_header Connection "upgrade";
          }
      }
