<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Hangry Hangry Hippos</title>

        <!-- Development version of Vue.js, at some point use the release version. -->
        <script src="https://vuejs.org/js/vue.js"></script>

        <!-- Our super cool helper scripts. -->
        <script src="assert.js"></script>
        <script src="request.js"></script>

        <link href="host.css" rel="stylesheet"></link>
    </head>

    <body>
        <div id="vue-root">
            <div id="top-side" class="horizontal-side">
                <hippo-head
                    v-for="hippo in topHippos"
                    v-bind:name="'TODO NAME ME'"
                    v-bind:score="hippo.player.score"
                >
                </hippo-head>
            </div>

            <div id="right-side" class="vertical-side">
                <hippo-head
                    v-for="hippo in rightHippos"
                    v-bind:name="'TODO NAME ME'"
                    v-bind:score="hippo.player.score"
                >
                </hippo-head>
            </div>

            <div id="bottom-side" class="horizontal-side">
                <hippo-head
                    v-for="hippo in bottomHippos"
                    v-bind:name="'TODO NAME ME'"
                    v-bind:score="hippo.player.score"
                >
                </hippo-head>
            </div>

            <div id="left-side" class="vertical-side">
                <hippo-head
                    v-for="hippo in leftHippos"
                    v-bind:name="'TODO NAME ME'"
                    v-bind:score="hippo.player.score"
                >
                </hippo-head>
            </div>
        </div>

        <!-- Load script for the host. -->
        <script src="host.js"></script>
    </body>
</html>
